.table-2 {
  position:relative;
  display: grid;
  min-height: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  border: cadetblue;
  border-style: ridge;
  padding:10px;
  align-items: center;
  justify-items: center;
}
.table-3 {
    position:relative;
    display: grid;
    min-height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    border: cadetblue;
    border-style: ridge;
    padding:10px;
    align-items: center;
    justify-items: center;
}
.table-4 {
    position:relative;
    display: grid;
    min-height: 90px;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    border: cadetblue;
    border-style: ridge;
    padding:10px;
    align-items: center;
    justify-items: center;
}

.table-5 {
  position:relative;
  display: grid;
  min-height: 90px;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  border: cadetblue;
  border-style: ridge;
  padding:10px;
  align-items: center;
  justify-items: center;
}


.flex {
  display: flex;
  width: 95%;
  flex-direction: column;
}
.tile{
    width: 50px;
    height: 50px;
    text-align:center
}
.button{
  align-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  justify-items: center;
}
.pointer{
  border-color: red;
}